body {
    padding: 0;
    margin: 0;
    background-image: url("../img/wir.jpeg");
    background-repeat: no-repeat;
    background-position:center top;
}


/*transform: rotate(3600deg) translate(400px, 100px);*/