body {
    padding: 0;
    margin: 0;
    background-image: url("../img/wir.jpeg");
    background-repeat: no-repeat;
    background-position:center top;
}

.ball {
    background-color: aliceblue;
    border-radius: 50%;
    display: block;
    position: relative;
    height: 50px;
    width: 50px;
    left: 320px;
    top:750px;
}


/*transform: rotate(3600deg) translate(400px, 100px);*/